<div class="banner mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://t2.tudocdn.net/639831?w=1920);">
  <div class="container">
    <h1>Save <strong>any</strong> kind of <strong> movies</strong>!</h1>
    <p><span data-controller="typed-js"></span></p>
  </div>
</div>



<div class="container">
  <%= link_to "Add a new list", new_list_path, class: "btn btn-primary float-end" %>
  <ul>
    <% @lists.each do |list| %>
      <li><%= link_to list.name, list_path(list), class: "btn btn-flat mb-2"  %></li>
    <% end %>
  </ul>
</div>
