<div class="banner mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://t2.tudocdn.net/639831?w=1920);">
  <div class="container">
    <h1>Save <strong>any</strong> kind of <strong> movies</strong>!</h1>
    <p><span data-controller="typed-js"></span></p>
  </div>
</div>



<div class="container">
  <%= link_to "Add a new list", new_list_path, class: "btn btn-success my-3" %>
  <h2>My Lists</h2>
  <div class="cards-grid">
    <% @lists.each do |list| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.poster_url %>)">
        <%= link_to list.name, list_path(list), class: "btn btn-flat" %>
      </div>
    <% end %>
  </div>
</div>
